<h1><%= @titulo %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Número interno</th>
      <th>Estado</th>
      <th>Precio</th>
      <th>Descripción</th>
      <th>Perfil de Inmueble</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
  <% @leases.each do |lease| %>
    <tr>
      <td><%= lease.num_int %></td>
      <td><%= lease.en_renta? %></td>
      <td><%= lease.precio %></td>
      <td><p class="description"><%= lease.descripcion %></p></td>
      <td><%= lease.profile.nombre %></td>
      <td>
        <%= link_to_show(admin_lease_path(lease)) %>
        <%= link_to_edit(admin_lease_path(lease)) %>
        <%= link_to_delete(admin_lease_path(lease)) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

