<div class="page-header">
  <h1>Numero:#<%= @lease.num_int %></h1>
</div>

<div class="well">
	<dl class="dl-horizontal">
		<dd><%= @lease.num_int %></dd>
	    <dd><%= @lease.en_renta? %></dd>
	    <dd><%= @lease.precio %></dd>
	    <dd><%= @lease.descripcion %></dd>
	</dl>
</div>
