<div class="well sidebar-nav">
  <ul class="nav nav-list">
    <li class="nav-header">
      Administracion
    </li>
          <li class="<%= 'active' if params[:controller] == "admin/localities" %>"><%= link_to "Localidades", admin_localidades_path %></li>
  <li class="<%= 'active' if params[:controller] == "admin/properties" %>"><%= link_to "Propiedades", admin_propiedades_path %></li>
  <li class="<%= 'active' if params[:controller] == "admin/types" %>"><%= link_to "Tipos de inmuebles", admin_tiposinmueble_path %></li>
  <li class="<%= 'active' if params[:controller] == "admin/profiles" %>"><%= link_to "Perfiles de inmuebles", admin_perfiles_path %></li>

  <li class="<%= 'active' if params[:controller] == "admin/leases" %>"><%= link_to "Arrendamientos", admin_arrendamientos_path %></li>
  </ul>
</div>
