<div id="body-wrap">	 
<div id="top"></div>
<!--------------------------------------------HEADER INICIO---------------------------------------------->
		        <header id="logo" class="header">
				    <div id="banner_inicio">  </div>
		        </header>
<!--------------------------------------------SECCION INICIO---------------------------------------------->			
				<%= render :partial => 'inicio' %>							
<!--------------------------------------------HEADER QUIENES SOMOS---------------------------------------------->
			    <header id="quienes_somos_logo" class="header"></header>
<!--------------------------------------------SECCION QUIENES SOMOS---------------------------------------------->						
				<%= render :partial => 'somos' %>				   					 											
<!--------------------------------------------HEADER EN RENTA------------------------------------------------>
			    <header id="renta_logo" class="header"></header>
<!--------------------------------------------SECCION EN RENTA---------------------------------------------->										
				<%= render :partial => 'enrenta' %>										
<!---------------------------------------------HEADER MAPA---------------------------------------------->
                <header id="mapa_logo" class="header"></header>
<!--------------------------------------------SECCION MAPA---------------------------------------------->			
				<%= render :partial => 'mapa' %>						
<!---------------------------------------------HEADER BUSQUEDA---------------------------------------------->
                <header id="busqueda_logo" class="header"></header>
<!--------------------------------------------SECCION BUSQUEDA---------------------------------------------->					   
				<%= render :partial => 'busqueda' %>		
<!--------------------------------------------HEADER VIDEOS---------------------------------------------->
			    <header id="videos_logo" class="header"></header>
<!--------------------------------------------SECCION VIDEOS---------------------------------------------->									   				<%= render :partial => 'videos' %>          	
<!--------------------------------------------HEADER CONTACTO---------------------------------------------->
			    <header id="contacto_logo" class="header"></header>
<!--------------------------------------------SECCION CONTACTO---------------------------------------------->		      
				<%= render :partial => 'contacto' %>
</div>