<%- model_class = Property.new.class -%>  
  <div class="page-header">
  <h1>Lista de propiedades</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Localidad</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.address %></td>
        <td><%= property.locality.name %></td>
        <td>
          <%= link_to raw('<i class="icon-th-list icon-white"></i>Mostrar'),
            admin_property_path(property), 
            { :remote => true, 
              'data-toggle' =>  "modal",
              'data-target' => "#modal-window", 
              'data-keyboard' => true,
              'data-backdrop' => true,
              :class => "btn btn-mini btn-success"
            }
          %>
          <%= link_to raw('<i class="icon-pencil icon-white"></i>Editar'),
            edit_admin_property_path(property),
            { :remote => true ,
              'data-toggle' =>  "modal",
              'data-target' => "#modal-window",
              'data-keyboard' => true ,
              'data-backdrop' => true ,
              :class => "btn btn-mini btn-primary"
            }
          %>
          <%= link_to raw('<i class="icon-trash icon-white"></i>Eliminar'), 
              admin_property_path(property), 
              confirm: '¿Estas Seguro?', 
              method: :delete, 
              :class => 'btn btn-mini btn-danger' 
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>