<h1><%= @titulo %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Dirección</th>
      <th>Localidad</th>
      <th>Opciones</th>
    </tr>
  </thead>
  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.name %></td>
        <td><%= property.address %></td>
        <td><%= property.locality.name %></td>
        <td>
          <%= link_to_show(admin_property_path(property)) %>
          <%= link_to_edit(admin_property_path(property)) %>
          <%= link_to_delete(admin_property_path(property)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>