<!DOCTYPE html>
<html>
	<head>
	  <title><%= titulo %></title>
	  <%= csrf_meta_tags %>
	  <%= render "layouts/stylesheets"%>
	</head>
	<body class="frontend">
		<nav>
			<%= render 'layouts/menu' if current_page?(url_for(:controller => '/pages', :action => 'home')) %>
		</nav>
		<article>
			<%= render  "layouts/fancy" %>
		</article>
		<div id="Fondo">
			<%= yield %>
		</div>
		<%= javascript_include_tag "application" %>
	</body>
</html>
